<mat-toolbar class="d-flex justify-content-between" style="background-color: #1b76f1; color: #fff;">
    <h1>TODO DASHBOARD</h1>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="mb-2">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 50px;"
            alt="Avatar" />
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
        <!-- <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button> -->
    </mat-menu>

</mat-toolbar>